* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(320deg, #3B3B3B, #2c3e50, #8ECDDD);
    background-attachment: fixed;
}

nav {
    width: 100%;
    height: 80px;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 15px 0; /* Adjust the padding as needed */
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

label {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50px;
    display: flex; /* Use flexbox to align label and checkbox */
    
}

a {
    text-decoration: none;
    color: white;
}


.check, .toggle-cross {
    width: 42px;
    height: 30px;
    position: absolute;
    left: 10px;
}

.check {
    z-index: 4; 
    opacity: 0;
    cursor: pointer;
}

.toggle-cross {
    z-index: 3;
}

.line {
    position: absolute;
    width: 40px;;
    height: 6px;
    background: #fff;
    transform-origin: center;
    border-radius: 2.25px;
    transition: 0.5s all linear;
}



.ln1 {
    top: 0;
}

.ln2{
    top: 50%;
    transform: translateY(-50%);
}

.ln3 {
    top: 100%;
    transform: translateY(-100%);
}


.check:checked ~ .toggle-cross .ln1 {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
}


.check:checked ~ .toggle-cross .ln2 {
    width: 0;
    opacity: 0;
}

.check:checked ~ .toggle-cross .ln3 {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
}


.heading {
    color: #fff;
    margin-left: auto; /* Push the heading to the right */
    margin-right: auto; /* Push the heading to the left */
    padding-right: 100px;
    font-size: 40px;
}

.menu {
    color: #fff;
    width: 50%;
    height: 100vh;
    list-style: none;
    background: #3B3B3B;
    position: absolute;
    left: -50%;
    top: 0;
    z-index: 2;
    padding-top: 80px;
    padding-left: 40px;
    opacity: 0.5;
    transition: 0.5s all linear;
}

.menu li {
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.check:checked ~ .menu {
    left: 0;
    opacity: 1;
}

.introduction {
    width:50%;
    text-align: center;
    color: #fff;
    justify-content: center;
    display: flex;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.about {
    max-width: 250px;
}

.about h2 {
    padding-bottom: 20px;
    font-size: 40px;
}

.intro {
    height: 100vh;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.info1 {
    color: #fff;
    height: 700px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding-top: 30px;
    font-size: 18px;
    filter:none;
}

.info1 h2 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.info1 p {
    padding-top: 30px;
}

.info2 {
    color: #000;
    height: 700px;
    background: url(images/img2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding-top: 150px;
    font-size: 18px;
}

.info2 p {
    padding-top: 30px;
}

.info3 {
    color: #fff;
    height: 700px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding-top: 40px;
    font-size: 18px;
}

.info3 h2 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.info3 p {
    padding-top: 30px;
}

.img3 {
    border-radius: 30%;
}

.online,
.contact-info {
    height:230px;
    margin-top: 20%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 10px;
    border: 2px solid #5E565A;
    background-color: #FDF6E3; /* Creamy background color */
    box-sizing: border-box;
    border-radius: 10%;
    text-align: center; 
}

.contact-info {
    margin-bottom: 20%;
}



.online h2,
.contact-info h2 {
    font-size: 26px;
    margin-bottom: 20px;
    padding-top: 5px;
}

/* Style the social icons */
.social-icon {
    font-size: 54px;
    padding-left: 24px;
    padding-top: 8px;
}

.social-icon a {
    color: black; /* Icon color */
    margin-right: 23px; /* Add some space between icons */
    text-decoration: none;
}

.social-icon a:hover {
    color: purple; /* Change the icon color on hover */
}


.contact-info p {
    font-size: 18px;
    padding-top:10px;
    padding-bottom:15px;
}

.fas fa-phone{
    
}